#mynetwork {
  width: 80%;
  height: 1000px;
  border: 1px solid orange;
  background-color: #222222;
  color: white;
}
body {
  background-color: #222222;
  color: orange;
}

@font-face {
    font-family: pythia; /*a name to be used later*/
    src: url('../fonts/diogenes.ttf'); /*URL to font*/
}

#band {
    background-image: url(../img/meander.svg);
    background-repeat: repeat-x;
    background-size: 20px 20px;
    height: 20px;

}

#bannertitle {
  font-family: pythia;
}
